* {
    font-family: monospace;
    user-select: none;
}

body {
    zoom: 300%;
    background-color: rgb(96, 201, 236);
}

#container {
    margin: 0 auto;
    padding: 50px;

    height: 150px;
    width: 250px;
   
    text-align: center;
   
    background-color: white;    
    border-radius: 5px;
    box-shadow: 0px 10px 58px 24px rgba(0,0,0,0.1);
}

#press, #reset {
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 40px;
    margin-top: 50px;
    cursor: pointer;
}

button:hover{
    transform: translateY(4px);
    box-shadow: 0px 2px 2px 2px;
}


@keyframes color-change {
  0% { color: red; }
  50% { color: blue; }
  100% { color: red; }
}

#times {
    animation: color-change 1s infinite;
    position: fixed;
    margin-top: 0px;
    margin-left: 70px;
}

